@font-face {
    font-family: avenir-light;
    src: url(../assets/fonts/AvenirLTStd-Roman.otf);
}
@font-face {
    font-family: avenir-medium;
    src: url(../assets/fonts/AEH.ttf);
}
@font-face {
    font-family: avenir-bold;
    src: url(../assets/fonts/AvenirLT95Black.ttf);
}